/**
 * font-family: 'Josefin Sans', sans-serif; font-weight: 400,600,700;
 * font-family: 'Josefin Slab', serif; font-weight: 600;
*/

html {
    height: 100%;
    font-family: 'Josefin Sans', courier, sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    color: #07b;
    background: #07b url('../img/bg/bg_blue.png') repeat fixed;
}
body {
    padding: 0 0 30px;
    margin:0px;
}
p {
    line-height: 1.2em;
}
.logo {
    color: #A00;
    text-shadow: 1px 1px 3px #A00;
    width: 350px;
    margin: 0 auto;
}
#main_nav{
    background: #07b url('../img/bg/bg_blue.png') repeat fixed;
    position: fixed;
    z-index: 101;
    top: 0px;
    left: 0px;
    text-align: center;
    color: #ccc;
    text-shadow: 1px 1px 1px #999;
    width: 100%;
    padding: 10px 0px;
}
#main_nav ul {
    list-style: none;
    display: inline;
}
#main_nav ul li {
    display: inline-block;
    border-right: 1px solid rgba(255,255,255, 0.5);
    padding-right: 6px;
}
#main_nav ul li:last-child {
    border-right: none;
}
#main_nav ul li a {
    text-transform: capitalize;
    text-shadow: none;
    color: #f2f2f2;
    font-weight: 700;
    text-decoration: none;
    display: block;
}
#main_nav ul li a:hover {
    text-decoration: underline;
}
a.hash_tag {
    margin: 0;
    padding: 0;
}

.top {
    background: #f9f9f9 url('../img/bg/bg_darkwhite.png') repeat fixed;
    padding: 70px;
    color: #444;
}
.bottom {
/*    background: #f9f9f9 url('../img/bg/bg_darkgrey.png') repeat fixed; */
    padding: 70px;
    color: #f2f2f2;
}
.bottom h1,
.bottom h2,
.bottom h3,
.bottom h4,
.bottom h5,
.bottom h6 {
    color: #fff;
    text-shadow: 2px 2px 2px #444;
    -webkit-text-shadow: 2px 2px 2px #444;
}
.wrapper, footer {
    width: 800px;
    padding: 50px;
    box-shadow: 0 0 15px #000;
    margin: 50px auto;
    background-color: rgba(0,0,0,0.2);
}
#footer {
    background: #07b url('../img/bg/bg_blue.png') repeat fixed;
    padding: 70px 0;
    text-shadow: none;
    color: #f2f2f2;
    font-weight: 700;
}
#footer > p {
    font-size: 60px;
    margin: 30px auto;
    text-shadow: 0px 0px 10px #f2f2f2;
}
#footer > p.mini_date, mini_date {
    font-size: 15px;
}
.top .wrapper {
    box-shadow: 0 0 15px #000;
    background-color: rgba(255,255,255,0.5);
    position: relative;
    z-index: 100;
}
input {
    padding: 10px 20px;
    border-radius: 25px;
    width: 400px;
    margin: 20px 0;
    background: #f9f9f9 url('../img/bg/bg_darkwhite.png') repeat fixed;
    color: #333;
    text-shadow: 1px 1px 1px #aaa;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2) inset;
}

pre.prettyprint{
    padding-bottom: 10px;
    padding: 10px 0 0 5px;
    margin-bottom: 70px;
    font: 14px/16px "Courier New", Courier, mono;
}
.bottom pre.prettyprint {
    background: url(../img/misc/pre_bg.png) repeat-y left;
    border-right: 1px solid #292929;
}
.top pre.prettyprint {
    background: url(../img/misc/pre_bg_w.png) repeat-y left;
    border-right: 1px solid #292929;
}
::selection {
    color: #f2f2f2;
    background-color: #29d;
    text-shadow: 0 0 2px #FFF;
}
button {
    background: #59c url('../img/bg/bg_blue.png') repeat fixed;
    padding: 5px;
    min-width: 150px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 1px 1px 2px #9BF;
}
button:hover {
    box-shadow: 0 0 10px #07b;
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0 15px -20px;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    color: #07b;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1em;
}

a {
    color: #ccc;
}
a:hover {
    color: #f2f2f2;
}
.top a {
    color: #444;
}
.top a:hover {
    color: #030303;
}

.center {
    text-align: center;
}

/****************************************************** iphone btn *********************************************/

.checkbox {
    font-family: "Lucida Grande", Verdana, Arial, sans-serif, Helvetica;
    display: block;
    width: 94px;
    height: 27px;
    overflow: hidden;
    border-radius: 3px;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    text-indent: -9999px;
    display: block;
    width: 150px;
    height: 27px;
    line-height: 27px;
    background: transparent url(../img/misc/iphone_btn.png) no-repeat -56px 0;
    -webkit-transition: background-position 0.3s ease-in-out;
    -moz-transition: background-position 0.3s ease-in-out;
    -o-transition: background-position 0.3s ease-in-out;
    translateZ: 0;
}

input[type=checkbox]:checked + label {
    -webkit-transition: background-position 0.3s ease-in-out;
    -moz-transition: background-position 0.3s ease-in-out;
    -o-transition: background-position 0.3s ease-in-out;
    background-position: -3px 0;
    translateZ: 0;
}
.overlined {
    text-decoration: line-through;
}

/*********************************** music player ******************************/
#song_title {
    text-align: center;
    color: #F2F2F2;
    font-size: 25px;
    font-weight: bold;
    width: 450px;
}
audio {
    width: 450px;
}
#canvas {
    background-color: rgba(150,0,0,0.4);
    margin: 0 0 20px;
}
img#album_cover {
    translateZ: 0;
    -webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(rgba(0, 0, 0, 0.3)));
    -moz-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(rgba(0, 0, 0, 0.3)));
    -o-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(rgba(0, 0, 0, 0.3)));
    box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(rgba(0, 0, 0, 0.3)));
    margin: 20px 20px 60px 0;
}
.mplayer_btn {
    margin: 10px 0 0;
}
.moz {
    margin: -7px 0 0 10px;
}
.webkit {
    margin: -7px 0 -17px;
}
.song_link {
    cursor: pointer;
}
.song_link:hover {
    font-weight: bolder;
}
input[type="range"]{
    -webkit-appearance:none !important;
    height: 3px;
    padding: 0;
    background: #07b;
    margin: -10px 0 20px 10px;
    width: 434px;
}
input[type="range"]::-webkit-slider-thumb{
    /*    -webkit-appearance:none !important;*/
}
.slider {
    background-color: #07b;
    height: 4px;
    position: relative;
    cursor: pointer;
    border:1px solid #333;
    width:442px;
    float: left;
    clear: right;
    margin-top:10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

/* progress bar (enabled with progress: true) */
.progress {
    height:9px;
    background-color:#C5FF00;
    display:none;
    opacity:0.6;
}

/* drag handle */
.handle {
    background:#fff url(../img/mplayer/knob.png) no-repeat;
    height: 14px;
    width: 14px;
    top: -6px;
    position:absolute;
    display:block;
    margin-top:1px;
    cursor:move;
    -moz-box-shadow:0 0 6px #000;
    -webkit-box-shadow:0 0 6px #000;
    -moz-border-radius:14px;
    -webkit-border-radius:14px;

}

/* the input field */
.range {
    border:1px inset #ddd;
    float:left;
    font-size:20px;
    margin:0 0 0 15px;
    padding:3px 0;
    text-align:center;
    width:50px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}







/* Floats & Clearer  */

.left, .float_left {
    float: left;
}
.float_right {
    float: right;
}
.clearer {
    clear: both;
    height: 0px;
    width: 0px;
}
.clear {
    clear: both;
}
.hidden {
    display: none;
}
.pfat {
    font-weight: bold;
}