/**
 * font-family: 'Josefin Sans', sans-serif; font-weight: 400,600,700;
 * font-family: 'Josefin Slab', serif; font-weight: 600;
*/

html {
    height: 100%;
    font-family: 'Josefin Sans', courier, sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    color: #07b;
    background: #07b url('../img/bg/bg_blue.png') repeat fixed;
}
body {
    padding: 0 0 30px;
    margin:0px;
}
p {
    line-height: 1.2em;
}
.logo {
    color: #A00;
    text-shadow: 1px 1px 3px #A00;
    width: 350px;
    margin: 0 auto;
}

a.hash_tag {
    margin: 0;
    padding: 0;
}

.top {
    background: #f9f9f9 url('../img/bg/bg_darkwhite.png') repeat fixed;
    padding: 70px;
    color: #444;
}
.bottom {
/*    background: #f9f9f9 url('../img/bg/bg_darkgrey.png') repeat fixed; */
    padding: 70px;
    color: #f2f2f2;
}
.bottom h1,
.bottom h2,
.bottom h3,
.bottom h4,
.bottom h5,
.bottom h6 {
    color: #fff;
    text-shadow: 2px 2px 2px #444;
    -webkit-text-shadow: 2px 2px 2px #444;
}
.wrapper, footer {
    width: 800px;
    padding: 50px;
    box-shadow: 0 0 15px #000;
    margin: 50px auto;
    background-color: rgba(0,0,0,0.2);
}
#footer {
    background: #07b url('../img/bg/bg_blue.png') repeat fixed;
    padding: 70px 0;
    text-shadow: none;
    color: #f2f2f2;
    font-weight: 700;
}
#footer > p {
    font-size: 60px;
    margin: 30px auto;
    text-shadow: 0px 0px 10px #f2f2f2;
}
#footer > p.mini_date, mini_date {
    font-size: 15px;
}
.top .wrapper {
    box-shadow: 0 0 15px #000;
    background-color: rgba(255,255,255,0.5);
    position: relative;
    z-index: 100;
}
input {
    padding: 10px 20px;
    border-radius: 25px;
    width: 400px;
    margin: 20px 0;
    background: #f9f9f9 url('../img/bg/bg_darkwhite.png') repeat fixed;
    color: #333;
    text-shadow: 1px 1px 1px #aaa;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2) inset;
}

::selection {
    color: #f2f2f2;
    background-color: #29d;
    text-shadow: 0 0 2px #FFF;
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0 15px -20px;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    color: #07b;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1em;
}

a {
    color: #ccc;
}
a:hover {
    color: #f2f2f2;
}
.top a {
    color: #444;
}
.top a:hover {
    color: #030303;
}

.center {
    text-align: center;
}






/* Floats & Clearer  */

.left, .float_left {
    float: left;
}
.float_right {
    float: right;
}
.clearer {
    clear: both;
    height: 0px;
    width: 0px;
}
.clear {
    clear: both;
}
.hidden {
    display: none;
}
.pfat {
    font-weight: bold;
}

/*  *   *   *   *   *   *   *    GAME SPECS    *   *   *   *   *   *   *   *   */

table {
    margin: 0 auto;
}
.greyTile {
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translate3d(0, 0, 39px);
}
.blueTile {
    width: 25px;
    height: 25px;
    background-color: rgba(200,200,200,0.1);
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translate3d(0, 0, 39px);
}