
@font-face{
	font-family: 'Pictos';
	src: url('web_fonts/jnaOPicto-Regular.eot');
	src: url('web_fonts/jnaOPicto-Regular.eot?#iefix') format('embedded-opentype'),
	     url('web_fonts/jnaOPicto-Regular.woff') format('woff'),
	     url('web_fonts/jnaOPicto-Regular.ttf') format('truetype'),
	     url('web_fonts/jnaOPicto-Regular.svg#Pictos') format('svg');
}
/* HTML5 ‚ú∞ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background: #F9F9F9 url('../img/bg/bg_blue.png') repeat fixed; }
body { margin: 0; font-size: 1.1em; padding: 0 0 20px; }
body, button, input, select, textarea { font-family: 'Josefin Sans', courier, sans-serif; font-weight: 400; text-shadow: 1px 1px 2px rgba(0,0,0,0.1); color: #07b; }

::-moz-selection { color: #f2f2f2; background-color: #29d; text-shadow: 0 0 2px #FFF; }
::selection { color: #f2f2f2; background-color: #29d; text-shadow: 0 0 2px #FFF; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; font-family: 'courier new', monospace; font-size: 0.8em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 0; padding: 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: text-top; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { margin: 0 auto; -webkit-tap-highlight-color: rgba(0,0,0,0); }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: jnaO
   ========================================================================== */
#textshadow {
	margin: 50px auto;
	width: 90%;
}
input[type=range] {
	width: 100%;
}

.logo {
    color: #A00;
    text-shadow: 1px 1px 3px #A00;
    width: 250px;
    margin: 0 auto;
    font-size: 10px
}

.top {
	background: #f9f9f9 url('../img/bg/bg_darkwhite.png') repeat fixed;
	color: #444;
	box-shadow: 0 0 15px #000;
    padding: 10px;
    display: block;
    z-index:500;
}
.invisible {
	display: none;
}
.standAlone {
	position: absolute;
	bottom: 0;
	left: 0;
}
.bottom {
    padding: 10px;
    color: #f2f2f2;
}
nav {
	background: #f9f9f9 url('../img/bg/bg_darkwhite.png') repeat fixed;
	border-bottom: 1px solid hsl(202, 100%, 37%);
	margin-bottom: 10px;
	height: 30px;
	box-shadow: 0px 1px 3px 0px #37b;
	padding: 5px 0 0;
}
#main_menu > li {
	font: 25px/25px Pictos;
	display: block;
	float: left;
	margin: 0;
	width: 19%;
	text-align: center;
	background-color: rgba(0,0,0,0);
}
#main_menu > li:last-child {
	float: right;
	text-align: right;
	padding-right: 5px
}

#main_menu input {
	display: inline-block;
	border-radius: 0px;
	background: #07b;
	color: hsl(210, 57%, 100%);
	text-shadow: 1px 1px 1px hsl(0, 0%, 67%);
	box-shadow: 2px 4px 8px -3px rgba(0,0,0,0.2);
	width: 50%;
	margin: 0 auto;
	text-align: center;
	font: 16px/14px "Josefin Sans";
	border: 0px ridge hsl(210, 57%, 47%);
	height: 18px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0 15px -20px;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    color: #07b;
}

a {
    color: #ccc;
}
a:hover {
    color: #f2f2f2;
}
.top a {
    color: #444;
}
.top a:hover {
    color: #030303;
    width: 90%;
}
.center {
    text-align: center;
}


/*  *   *   *   *   *   *   *    GAME SPECS    *   *   *   *   *   *   *   *   */


#progressBar {
    display: block;
    border: 1px ridge rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    margin: 20px auto;
    background-image: -webkit-linear-gradient(left, hsla(0, 0%, 100%, 0)0%, hsla(0, 0%, 100%, 0.4)30%, hsla(0, 0%, 100%, 0.4)70%, hsla(0, 0%, 100%, 0)100%);
    background-image: -moz-linear-gradient(left, hsla(0, 0%, 100%, 0)0%, hsla(0, 0%, 100%, 0.4)30%, hsla(0, 0%, 100%, 0.4)70%, hsla(0, 0%, 100%, 0)100%);
    background-image: -ms-linear-gradient(left, hsla(0, 0%, 100%, 0)0%, hsla(0, 0%, 100%, 0.4)30%, hsla(0, 0%, 100%, 0.4)70%, hsla(0, 0%, 100%, 0)100%);
    background-image: -o-linear-gradient(left, hsla(0, 0%, 100%, 0)0%, hsla(0, 0%, 100%, 0.4)30%, hsla(0, 0%, 100%, 0.4)70%, hsla(0, 0%, 100%, 0)100%);
    background-image: linear-gradient(left, hsla(0, 0%, 100%, 0)0%, hsla(0, 0%, 100%, 0.4)30%, hsla(0, 0%, 100%, 0.4)70%, hsla(0, 0%, 100%, 0)100%);
    box-shadow: 0px 2px 3px #333;
}
.greyTile {
    width: 25px;
    height: 25px;
    background-color: #CCC;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translate3d(0, 0, 39px);
    box-shadow: 0px 2px 3px #333;
}
.blueTile {
    width: 25px;
    height: 25px;
    background-color: rgba(0,0,0,0.15);
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translate3d(0, 0, 39px);
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2) inset;
}














/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

	html {
		background: #07b url('../img/bg/bg_blue.png') repeat fixed;
	}

    p.desc {
        max-width: 500px;
        margin: 0 auto;
    }

    .top {
	    background: #f9f9f9 url('../img/bg/bg_darkwhite.png') repeat fixed;
	    color: #444;
	    box-shadow: 0 0 15px #000;
        padding: 10px;
        display: block;
    }

    .wrapper, footer {
        width: 800px;
        padding: 50px;
        margin: 50px auto;
    }
	#main_menu input {
		height: 24px;
    }
    .logo {
	    font-size: 12px;
	    width: 290px;
    }

}



/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
